<!-- <div class="header">
  
  <div class="container">
    <a href="#home" class="logo">
      Profesionales Web
    </a>
    <div class="navbar">
      <a [routerLink]="['home']">	<mat-icon>home</mat-icon>Inicio</a>
      <a [routerLink]="['datos']">	<mat-icon>description</mat-icon>Datos</a>
       <a [routerLink]="['contacto']">	<mat-icon>question_answer</mat-icon>Contacto</a>
       <a [routerLink]="['agenda']"><mat-icon>supervisor_account</mat-icon>Agenda</a>
    </div>
    <a href="#" class="hamb"><i class="fa-solid fa-bars"></i></a>
  </div>
</div> -->
<!-- <nav>
  <ul class="nav">
    <a [routerLink]="['home']">Inicio</a>
   <a [routerLink]="['datos']">Datos</a>
    <a [routerLink]="['portafolio']">Portafolio</a>
    <a [routerLink]="['contacto']">Contacto</a>
  </ul>
</nav> -->
<div class="navbar">
 <div class="titulo"> <h2>¡¡Bienvenidos!! <br> </h2>  <span>Este es mi sitio web!!...</span></div>
 <a [routerLink]="['home']"><mat-icon>home</mat-icon>Inicio</a>
 <a [routerLink]="['informacion']"><mat-icon>supervisor_account</mat-icon>Sobre Mí</a>
 <div class="navegacion"> <a [routerLink]="['agenda']"><mat-icon>supervisor_account</mat-icon>Agenda</a>
  <a [routerLink]="['datos']"><mat-icon>description</mat-icon>Formación</a>
    <a [routerLink]="['contacto']"><mat-icon>question_answer</mat-icon>Contactame</a>
  </div>
</div>
