.cuerpo{
 background-color: #dba2b0;
  min-height: 95vh;
  display: flex;
  font-family:'Montserrat', sans-serif ;

}
form{
  margin:4% auto;
  background-color: #feeff4;
  width: 90%;
  max-width: 400px;
  border-radius: 1em;
  padding: 3.5em 3em;
  /* margin: auto; */
  height: fit-content;
}
form span{
  border-bottom: 4px solid #c83f71;
}
.form-container{
  width: 100%;
  display: grid;
  gap: 0.9em;
  grid-auto-columns: 100%;

}

.form-title{
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: .3em;
}
.form-input{
  font-family:inherit;
  font-size: 1rem;
  padding: .8em 1em;
  outline: none;
  border: none;
  border: 1px solid #bbb0b0;
  border-radius: 0.2em;
}

.form-cta{
  font-family:inherit;
background-color:#dba2b0;
  color: white;
  border: none;
  font-weight: 900;
  font-size: 1.2rem;
  padding: .7em 0;
  border-radius: 2em;
  cursor: pointer;
  width: 40%;
  margin:  0 30%;
  
  
}

.form-input-mensaje{
  resize: none;
  padding: 1.8em 1em;
  /* margin-bottom: .5em; */
}

.is-invalid{
  border: 1px solid #ff0000a6;
}

.advertencia{
  display: block;
  margin-left: 5%;
  color: #ff0000a6;
}