<!-- 
<div class="box">
  <div class="left-shape"></div>
  <div class="right-shape"></div>
  <h1 class="habi1">SOBRE MÍ</h1>
  Me considero una persona responsable, dinámica, y creativa, con facilidad de  adaptación y capacidad de trabajar en equipo, en condiciones de alta presión, con iniciativa para resolver problemas eficientemente y lograr las metas y objetivos trazados por la empresa. <br> Superarme en todo los aspectos de mi vida,brindando lo mejor de mi cada día,tanto en el aspecto laboral como en el aspecto personal.
 </div>



 <div class="box1" id="habi2">
  <div class="left-shape1"></div>
  <div class="right-shape1"></div> 
  <h1 class="habi1">HABILIDADES</h1> 
  
 
   <li>Trabajo en equipo</li>
   <li>Proactividad</li>
   <li>Honestidad</li>
   <li>Responsabilidad</li>


 </div> -->




<div class="espacio">





  
  <div class="container"><br><br><br><br><br>
    <h1>  <SPan>HAB</SPan>ILIDADES</h1>
    <div class="blog-card alt tamanio">
      <div class="meta">
        <div class="photo"
          style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-2.jpg)"></div>
      </div>
      <div class="description">
        <h2>las habilidades son las que me consideran mejor persona</h2>
        <p>
          <li>Trabajo en equipo</li>
          <li>Proactividad</li>
          <li>Honestidad</li>
          <li>Responsabilidad</li>
        </p>
      </div>
    </div> <br><br>
  
  
    <h1> <span>SOB</span>RE MÍ</h1>
    <div class="blog-card tamanio">
      <div class="meta">
        <div class="photo"
          style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
      </div>
      <div class="description  fila2" >
        <h2>mis mejores caracteristicas</h2>
        <p>
          Me considero una persona responsable, dinámica, y creativa, con facilidad de adaptación y capacidad de trabajar
          en equipo, en condiciones de alta presión, con iniciativa para resolver problemas eficientemente y lograr las
          metas y objetivos trazados por la empresa. <br> Superarme en todo los aspectos de mi vida,brindando lo mejor de
          mi cada día,tanto en el aspecto laboral como en el aspecto personal.
        </p>
      </div>
    </div>
  
  </div>
</div>