<div id="portada">
  
 <div id="foto-port1">
   
    <img src="../../../assets/img/perfil.jpg" alt="foto-perfil" class="foto-perfil">
  </div> 
  <div id="foto-port">
    <img src="../../../assets/img/perfil.jpg" alt="foto-perfil2" class="foto-perfil2">
  </div>
  <div id="datos">
    
   <br><br><br><br>
   <br><br><br><br>
    <div  class="sobre-mi">
     

     <div class="name">
      <strong id="nombre"> Marian Yelin <div>Suarez Nibuscha</div>  </strong>
     </div>
      <ul>
        <li> 
          <i class="fa-solid fa-address-card"  id="iconos"></i>
          <span><b>CI:</b>10829504</span>
        </li> 

        <br>
        <li> 
          <i class="fa-solid fa-calendar" id="iconos"></i>
          <b>Nacionalidad:</b>Boliviana
        </li> 

        <br>
        <li> 
          <i class="fa-solid fa-building-user" id="iconos"></i>
          <b>Lugar de nacimiento:</b>Santa Cruz de la Sierra -Andres Ibañez 
        </li>  

        <br>
 
        <li> 
          <i class="fa-solid fa-baby-carriage"  id="iconos"></i>
          <b>Fecha de nacimiento:</b>10/07/2004
        </li>   


        <br>
 
        <li> 
          <i class="fa-solid fa-child-dress" id="iconos"></i>
          <b>Estado Civil:</b> Soltera
        </li>  
        <br>

        <li> 
          <i class="fa-solid fa-cake-candles" id="iconos"></i>
          <b>Edad:</b>18 años
        </li>  

        <br>
  
        
        <li> 
          <i class="fa-solid fa-building-user" id="iconos"></i>
          <b>Lugar de Residencia:</b> Cochabamba
        </li>
        
        <br>

        <li>
          <i class="fa-solid fa-location-dot" id="iconos"></i>
          <b>Direccion:</b> Av.Petrolera km 7 ½  Zona/Nueva Vera Cruz
          </li> 
           <br>

          <li class="email">
            <a href="mailto:mariansuarez380@gmail.com?
            Subject=Interesado%20en%20contactarte" class="dirEmail"><i class="fa-solid fa-envelope  " id="iconos" ></i></a>
            
            <b >Email:</b> mariansuarez380@gmail.com
          </li>
          <br>
 
        <li>
          <i class="fa-solid fa-phone" id="iconos"></i>
          <b>Telefono:</b> 62627424
        </li>
 
      </ul>
    </div>
  </div>

</div>
