*{
  width: 100%;
}

#portada {
  background-color: #dba2b0;
  padding: 5%;
  overflow: hidden;
  height:100vw;
  width: 60%;
  margin: 0  15%;

}

a{
  color: black;
  display: block;
  text-decoration: none;
}

#nombre {
  font-size: 45px;
  font-weight: 100;
  font-weight: bold;
  text-align: center;
}
.name{
  text-align: center
}
#nombre div{
  margin-top: 10px;
  margin-bottom: 25px;
}

#iconos{
  font-size: 30px;
  margin-right: 10px;
  float: left;
  width: 35px;
}

ul {
  margin-top: 4%;
  display: inline-block;
  justify-content: space-around;
}

ul li {

  list-style: none;
  margin-bottom: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;

}

ul li b {
  font-family: 'Montserrat', sans-serif;
  margin-right: 5px;
}

.sobre-mi {
  background-color: #feeff4;

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 19px;
  padding: 8% 1% 2% 5%;
  /* margin: 3% 0% 2% -6%; */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 95%;

}

.sobre-mi h3 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1%;
}

#foto-port1 img {
  width: 100%; 
   border-radius:  50%;
   

 
}


#foto-port1 {
  width: 40%;
 margin: 0 30%;
 background-color: #feeff4;

 border-radius: 50%;
 padding: 15px;
  
  /* height: 30vh; */

}
#foto-port {
  visibility: collapse;
  height: 0;
}

#foto-port img {
  visibility: collapse;
}
@media (max-width:950px) {
  #nombre {
    font-size: 7vh;
    font-weight: 300;
    font-family: 'Abril Fatface', cursive;
    display: block;
  }
}

@media (max-width:768px) {
  #portada {
    height: 100%;
    width: auto;
  
  }
  #datos {
    width: 100%;
    float: none;
    padding: 1%;
    margin: 2% 0%;
  }

  #foto-port img {
    width: 50%;
    float: none;
    margin: 0% 25%;
  }

  ul {
    margin-top: 4%;
    display: block;
    justify-content: space-around;
  }

  ul li {

    font-family: 'Lato', sans-serif;
  }



  #nombre {
    font-size: 6vh;
    font-weight: 300;
    font-family: 'Abril Fatface', cursive;
  }

  
  #foto-port {
    visibility:visible;
    height: auto;
  }
  
  #foto-port img {
    visibility: visible;
  }

  #foto-port1 {
    visibility: collapse;
    height: 0;
  }
  
  #foto-port1 img {
    visibility: collapse;
  }
}
@media (max-width:424px) {
  #nombre {
    font-size: 4.5vh;
    font-weight: 300;
    font-family: 'Abril Fatface', cursive;
    display: block;
  }
}
@media (max-width:320px) {
  #portada {
    height: 100%;
    width: auto;
  
  }
  .sobre-mi {
    background-color: white;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    padding: 2% 1% 2% 1%;
    margin: 0% 0% 0% 0%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: auto;
  }

  ul li i {
    margin-right: 0%;
  }

  #nombre {
    font-size: 4vh;
    font-weight: 300;
    font-family: 'Abril Fatface', cursive;
  }

  #foto-port {
    visibility:visible;
    height: auto;
  }
  
  #foto-port img {
    visibility: visible;
  }

  #foto-port1 {
    visibility: collapse;
    height: 0;
  }
  
  #foto-port1 img {
    visibility: collapse;
  }

  #port {
    display: block;
  }

  #datos {
    width: 100%;
    display: block;
    float: none;
    margin: 0% 0%;
    padding: 0% -1%;
  }

}